.header {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid #131313;
  &-container {
    height: 75px;
    width: 100%;
  }
  & p {
    color: white;
    font-size: 24px;
  }
}

// @keyframes shrink {
//   from {
//     background-color: blue;
//     width: 100%;
//   }
//   to {
//     background-color: blue;
//     width: 0;
//   }
// }
