.page-header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 100px;
  color: #fff;
  border-bottom: #fff solid 2px;
  &__language--button {
    background: var(--light-2);
    border-radius: 20px;
    cursor: pointer;
    height: 38px;
    position: relative;
    width: 68px;
  }
}
