@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid #131313;
}
.header-container {
  height: 75px;
  width: 100%;
}
.header p {
  color: white;
  font-size: 24px;
}

.flags {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  position: relative;
}
.flags-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flags img {
  width: 390px;
  height: auto;
}

.guess {
  width: 400px;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.guess-button {
  width: 400px;
  height: 50px;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 15px;
}
.guess-button:hover {
  cursor: pointer;
}
.guess-start {
  width: 400px;
  height: 50px;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  margin-top: 30px;
  background-color: yellow;
  color: black;
  font-weight: 700;
}
.guess-start:hover {
  cursor: pointer;
}
.guess-start:hover {
  opacity: 0.8;
}
.guess-start:active {
  opacity: 0.7;
}
.guess-correct {
  width: 400px;
  height: 50px;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 15px;
}
.guess-correct:hover {
  cursor: pointer;
}
.guess-wrong {
  width: 400px;
  height: 50px;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 15px;
}
.guess-wrong:hover {
  cursor: pointer;
}
.guess-correct:focus {
  width: 400px;
  height: 50px;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  background-color: green;
}
.guess-correct:focus:hover {
  cursor: pointer;
}
.guess-wrong:focus {
  width: 400px;
  height: 50px;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  background-color: red;
}
.guess-wrong:focus:hover {
  cursor: pointer;
}
.guess .guess-button:disabled {
  opacity: 1; /* Asegúrate de que la opacidad no sea reducida por defecto */
  cursor: default; /* Cambia el cursor para indicar que el botón está deshabilitado */
}
.guess .guess-button.guess-correct:disabled {
  background-color: green; /* Color verde, por ejemplo, para respuestas correctas */
  color: white; /* Asegura que el texto sea visible */
}
.guess .guess-button.guess-wrong:disabled {
  background-color: red; /* Color rojo, por ejemplo, para respuestas incorrectas */
  color: white; /* Asegura que el texto sea visible */
}

.modal-container {
  height: 800px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  top: calc(50% - 400px);
  left: calc(50% - 400px);
  background-color: #191919;
  border-radius: 20px;
  color: white;
}
.modal-container p {
  font-size: 80px;
  font-weight: 700;
}
.modal-container h2 {
  font-size: 100px;
}

.page-header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 100px;
  color: #fff;
  border-bottom: #fff solid 2px;
}
.page-header__language--button {
  background: var(--light-2);
  border-radius: 20px;
  cursor: pointer;
  height: 38px;
  position: relative;
  width: 68px;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #131313;
}

.container {
  height: 800px;
  width: 500px;
  background-color: #191919;
  border-radius: 20px;
  position: relative;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
